<!-- <div class="text-layaout">
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>
</div>

<button pButton (click)="cambiarNombre()"  icon="pi pi-chevron-right" iconPos="right" class="p-button-help" label="Cambiar Nombre">
</button>

<p-card [header]="nombre | titlecase" 
        subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui ad, optio rerum inventore dignissimos tempora, et magni dolor perspiciatis, modi deserunt cum necessitatibus odit. Consectetur iste repellat cupiditate aperiam!
</p-card> -->
<app-menu></app-menu>
<router-outlet></router-outlet>